boto3
pandas
pydantic
pydantic-settings
python-dotenv

pymupdf
beautifulsoup4
markdown-it-py
tiktoken

sentence-transformers
torch

snowflake-connector-python
snowflake-snowpark-python

streamlit
requests

pytest